* {
  margin: 0;
  padding: 0;
}

.main-photo {
  max-width: 300px;
  border-radius: 10px;
}

p > a, div > a {
  text-decoration: none;
}

.mr-sm {
  margin-right: 12px;
}

.ml-sm {
  margin-left: 12px;
}

.icons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  margin-left: 13px;
  margin-right: 13px;
}

.brand-title {
  font-weight: bolder;
}

.askme {
  color: #0ba5be;
}

.bbq {
  color: #198754;
}

.loop {
  background-color: #ffd0b6;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border-radius: 10px;
  color: #e32c5a;
}

.loop:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform 0.7s; !important;
}

.back {
  min-height: 100vh;
  position: relative;
  height: 100%;
  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.title-text {
  color: #c62828;
}

.info {
  background-color: #ffd0b6;
  border-radius: 10px;
  color: #e32c5a;
}